<div class="container">

  <div class="row">

    <% @pins.each do |pin| %>

    <div class="col-xs-8 col-sm-1 col-md-3 col-lg-3">
      <div class="thumbnail" >
      <%= image_tag pin.photo, :class => "img-rounded" %>
        <div class="caption">
          <p>
            <%= pin.description %>
          </p>
          <p>
            <%= link_to 'Show', pin, :class => "btn btn-primary" %>
            <%= link_to 'Edit', edit_pin_path(pin), :class => "btn btn-default" %>
            <%= link_to 'Destroy', pin, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
    </div>

    <% end %>

  </div>


  <br>
  <%= link_to 'New Pin', new_pin_path %>
</div>